/************************************************/
/*       ESTILO BIKEHUB FT BOOSTSTRAP           */
/*                                              */
/*        FRANCISCO ROMERO ZARCO                */
/*                                              */
/*                                              */
/************************************************/

/*****************GENERAL************************/
.w-40{
    width: 40px;
}

.bg-bikehub{
    background-color: #ffa500;
}

.text-bike{
    color: #ffa500;
}
.navbar-toggler-icon{
    color: #ffa500;
}
a .fa-motorcycle {
    color: #ffa500;
}
.fa-motorcycle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 1.5em !important;
    z-index: 98;
}
#navicon{
    color: #ffa500;
}



/**************NAVBAR******************/





/***************HERO********************/
#hero{
    background-image: url(../imagenes/hero\ section\ v2.jpg);
    background-size: cover;
    border-radius: 10px
}
/***************FONTS******************/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); /* font-family: 'Bebas Neue', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); /* font-family: 'Montserrat', sans-serif;*/


#texto{
    font-family:'Montserrat', sans-serif;
}
/******************TEXTOS**************************/
#navbar-link{
    color: #ffa500;
}
.btn-bike{
    background-color: #ffa500 !important 
}
.border-bike{
    color: #ffa500 !important
}

#linkinfo{
    text-decoration: none;
    color: black;
}



/*****************TIPOS DE MOTOS *************************/
#hTipo{
    font-family:'Bebas Neue', sans-serif;
}

/***************Creadores de contenido **********************************/
.containerCC {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    max-width: 1600px;
    margin: auto;
}

.boxCC {
    width: 100%; 
    max-width: 400px; 
    flex: 1 1 30%; 
    position: relative;
    overflow: hidden;
    margin: 2%;
    border: 3px solid #ffa500;
    border-radius: 20px;
}

.boxCC img {
    width: 100%;
    height: auto;
}

.capaCC {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transform: scale(0);
    transition: .3s ease;
}

.boxCC:hover .capaCC {
    transform: scale(1);
    
}
.linkG{
    color:#ffa500;
}